# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.GreedyAlgorithm.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\OlenPC\Desktop\Auca\Algorith Languages\Lab3\GreedyAlgorithm\.idea\.idea.GreedyAlgorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
