# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MergeAndQuickSort.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\OlenPC\Desktop\Auca\Algorith Languages\Lab2\MergeAndQuickSort\.idea\.idea.MergeAndQuickSort.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
