# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.MergeSortVsQuickSort.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\OlenPC\Desktop\Auca\Algorith Languages\Lab2\MergeSortVsQuickSort\.idea\.idea.MergeSortVsQuickSort\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
